body{background:#F8F8FF;}
 .img-circle{width:60%;margin-left: 80px;padding: 20px;}
 .fa {font-size: 27px;}
 .container-fluid{
     width: 30%;
     background: #B0C4DE;
   
     }
 .h-txt{font-size:1.5em;margin-right: 5px;}
 .content{margin-left: 10px;}
 .content p{text-align: center;}
 .clear{padding: 50px;}
 .checked{color:#FFD700;}
  .left{ 
    float: left;
    width: 15%;
    margin-top:10px;}
  .middle{
    margin-top:10px;
    float: left;
    width: 70%;}
  .right{   text-align: right;}
  .b-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
.bar-5 {width: 70%; height: 18px; background-color:#FFD700;}
.bar-4 {width: 50%; height: 18px; background-color:#FFD700;}
.bar-3 {width: 30%; height: 18px; background-color:#FFD700;}
.bar-2 {width: 10%; height: 18px; background-color:#FFD700;}
.bar-1 {width: 5%; height:  18px; background-color:#FFD700;}
.footer{padding-top:50px;height:100px;color:#808080; background-color:#DCDCDC;text-align: center;}
